*,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  body{
    background-color: #191919;
    color: #fff;
  }

  .new-message-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
}

input, textarea{
    width: 80%;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 20px;
}

textarea{
    resize: none;
}

input:focus{
    outline: none;
}

label{
    font-size: 20px;
}

button{
    width: 60%;
    height: 50px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(230, 96, 0);
    color: #191919;
    margin-top: 20px;
}